@import "bootstrap-sprockets";
@import "bootstrap";


body {
    padding-top: 10px;
    background: #f5f5f5;
    a:hover {color: #ff8f00}
    
}
.jumbotron{
    background:#c5e1a5; 
}
.center {
    text-align: center;
}
.content {
    background:#fafafa; 
    border-radius: 25px;
    padding: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    

    
}

.availability-time-black {

    text-align:center;
    color:black; 
    float:left;
    height:6px;
    width:12px;
    font-size: 8px; 
    margin:2px
}

.availability-time-color {

    text-align:center;
    color:#009933; 
    float:left;
    height:6px;
    width:12px;
    font-size: 8px; 
    margin:2px
}
td ,th {
    border: 1px solid #ddd;
    
  }
table {
    border-top: 1px solid #ddd;
}