<!DOCTYPE html>
<html lang="en">

<head>
    <title>Set</title>
    <meta charset="utf-8">
</head>
<script src="set-view.js"></script>

<body>
    <div id="main-menu">
        <h1>Main Menu</h1>
        <p>
            Select game options and add players to game.
        <form>
            <label>Select Difficulty:</label>
            <input type="button" id="normal" value="Normal Shuffle">
            <input type="button" id="rookie1" value="Rookie Shuffle 1">
            <input type="button" id="rookie2" value="Rookie Shuffle 2">
        </form>
        <form>
            <label for="playername">Enter player name:</label>
            <input type="text" id="playername" name="playername">
            <input type="button" id="addplayer" value="Add Player">
        </form>
        <button type="button" id="startgame">Start Game</button>
        </p>
    </div>
    <div id="cards" hidden>

    </div>
    <div id="players" hidden>

    </div>

</body>

</html>