<!DOCTYPE html>
<html lang="en">

<head>
    <title>Set</title>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="set-view.css" media="screen"/>

</head>


<body>
    <div id="main_menu">
        <h1>Main Menu</h1>
        <p>
            Welcome to Set! You may play this game with as many players that are available!
        <form id="difficulty">
            <label>Select Difficulty:</label>
            <input type="radio" id="normal" name="diff" checked>
            <label for="normal">Normal Shuffle</label>
            <input type="radio" id="rookie1" name="diff">
            <label for="rookie1">Rookie Shuffle 1</label>
            <input type="radio" id="rookie2" name="diff">
            <label for="rookie2">Rookie Shuffle 2</label>
        </form>
        <form>
            <label for="playername">Enter player name:</label>
            <input type="text" id="playername">
            <input type="button" id="addplayer" value="Add Player"
                onclick="addPlayer(document.getElementById('playername').value)">
            <input type="button" id="addcomputerplayer" value="Add Easy Computer Player"
                onclick="addEasyComputerPlayer(document.getElementById('playername').value)">
             <input type="button" id="addcomputerplayer" value="Add Hard Computer Player"
                onclick="addHardComputerPlayer(document.getElementById('playername').value)">
                
            <label id="addplayerstatus"></label>
        </form>
        <button type="button" id="startgame" >Start Game</button>
        </p>
    </div>
    <div id="game" hidden>      
        <div id="game-objects">
            <div id="cards" class="cards">
                <p id="cardsleft"></p>
                <button type="button" id="hintbutton" onclick="giveHint(this.value)" value="0">Hint? (0/2)</button>
                <table id="cardtable">

                </table>
            </div>
            <div id="players" class="players">
                <table id="playertable">

                </table>
                <button type="button" class="check-set" id="checkset" onclick="setCheck()">Check Set</button>
            </div>
            <div id="timer" class="timer">
                <span>Time left:</span>
                <span id="minute">00</span>
                <span>:</span>
                <span id="second">00</span>
            </div>
        </div>
        <div id="scoreboard" hidden>
            <div id="score-title" hidden>
                <h1>Game Over!</h1>
                <p>Final Scores:</p>
            </div>
            <ol id="endgamescores">

            </ol>
            <button type="button" id="returnMain">Return to Main Menu</button>
        </div>
    </div>
    <script type="text/javascript" src="../Model/PlayerModule/Player.js"></script>
    <script type="text/javascript" src="../Model/PlayerModule/ComputerPlayer.js"></script>
    <script type="text/javascript" src="../Model/PlayerModule/PlayerSet.js"></script>
    <script type="text/javascript" src="../Model/CardModule/Card.js"></script>
    <script type="text/javascript" src="../Model/CardModule/CardSet.js"></script>
    <script type="text/javascript" src="../Model/CardModule/DisplaySet.js"></script>
    <script type="text/javascript" src="../Controller/Controller.js"></script>
    <script type="text/javascript" src="../Model/Timer/Timer.js"></script>
    <script type="text/javascript" src="set-view.js"></script>
    <script type="text/javascript" src="../View/eventListener.js"></script>
</body>
</html>