<% if current_user.role == 'instructor' && current_user.isActive %>
  <h1>New Recommendation for section <%=params[:operating]%></h1>
  <%@student_list = []%>
  <% Student.all.each do |student|%>
  <%@student_list << [student.user.name,student.user.id]%>
  <%end%>
  <%= render partial:'form', 
      locals: {
        student_list: @student_list,
        recommendation: @recommendation,
        submit_text: "submit recommendation",
        path: "/recommendations/#{@operating}/",
        method: :post,
        section: @section
      } %>
  

<% else %>
  <h1>Access Denied.</h1>
<% end %>

<%= link_to 'Back', recommendations_path(section: @section) %>
